.c-sidebar {
    &__checkbox {
        --size: 1rem;
        flex: 0 0 var(--size);
        height: var(--size);
        position: relative;
        margin-left: auto;
        span {
            display: inline-block;
            height: var(--size);
            width: var(--size);
            background-color: transparent;
            border: 1px solid #a0a0a0;
            border-radius: 50%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23a0a0a0' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m2.75 8.75l3.5 3.5l7-7.5'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }
        input {
            position: absolute;
            height: 1px;
            width: 1px;
            appearance: none;
            cursor: pointer;
            margin: 0;
            &:checked {
                + span {
                    background-color: #ff0000;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m2.75 8.75l3.5 3.5l7-7.5'/%3E%3C/svg%3E");
                    border-color: #ff0000;
                }
            }
        }
    }
    &__list {
        margin-top: 1rem;
        box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
        li {
            padding: 0.25rem 1rem;
            display: flex;
            gap: 1rem;
            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }
        }
        
    }
    &__title {
        font-size: 1.25rem;
        font-weight: 400;
    }
    &__wrap {
        padding: 1rem 0.5rem 2rem;
        background-color: light-dark(#fff, #fff);
        border-radius: 0.25rem;
        box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
    }
}