<aside class="c-sidebar__wrap">
    <h2 class="c-sidebar__title">Categories</h2>
    <ul class="c-sidebar__list">
        <li>
            <p>e-Voucher</p>
            <label class="c-sidebar__checkbox">
                <input type="checkbox" name="voucher" id="voucher" value="e-voucher" [checked]="filters.has('e-voucher')" (change)="handleCheckbox($event)"/>
                <span></span>
            </label>
        </li>
        <li>
            <p>Products</p>
            <label class="c-sidebar__checkbox">
                <input type="checkbox" name="products" id="products" value="products" [checked]="filters.has('products')" (change)="handleCheckbox($event)"/>
                <span></span>
            </label>
        </li>
        <li>
            <p>Evergreen</p>
            <label class="c-sidebar__checkbox">
                <input type="checkbox" name="evergreen" id="evergreen" value="evergreen" [checked]="filters.has('evergreen')" (change)="handleCheckbox($event)"/>
                <span></span>
            </label>
        </li>
        <li>
            <p>Fashion & retail</p>
            <label class="c-sidebar__checkbox">
                <input type="checkbox" name="fashionnretail" id="fashionnretail" value="fashion & retail" [checked]="filters.has('fashion & retail')" (change)="handleCheckbox($event)"/>
                <span></span>
            </label>
        </li>
    </ul>
</aside>