<footer class="c-footer__wrap">
    <div class="app-container">
        <div class="c-footer__inner">
            <div class="c-footer__main">
                <div class="c-footer__logo">
                    
                </div>
                <div class="c-footer__version">
                    <h2>Version</h2>
                    <p>2.2.2</p>
                </div>
                <div class="c-footer__about">
                    <h2>About</h2>
                    <ul>
                        <li><a href="javascript:;">Contact Us</a></li>
                        <li><a href="javascript:;">Privacy</a></li>
                        <li><a href="javascript:;">Terms of use</a></li>
                    </ul>
                </div>
            </div>
            <div class="c-footer__copyright">
                <p>© 2024 Nithyaprakash T. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>