//
// Scaffolding
// --------------------------------------------------
// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing

:root {
  --color-base-white: #fff;
  --color-base-black: #000;

  //------------------
  --color-default: var(--color-base-black);
  --color-contrast: var(--color-base-white);
  --color-overlay: rgba(0, 0, 0, 0.6);

  // Ability to provide smooth scroll behavior on supported browsers only.
  color-scheme: light dark;
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

[data-theme="dark"] {
  --color-default: var(--color-base-white);
  --color-contrast: var(--color-base-black);
  --color-overlay: rgba(255, 255, 255, 0.6);
}

@mixin base-theme-light {
  --color-base-background: var(--color-base-white, #fff);
  --color-base-text: var(--color-base-black, #000);
  --color-base-border: var(--color-base-black, #000);
}
@mixin base-theme-dark {
  --color-base-background: var(--color-base-black, #000);
  --color-base-text: var(--color-base-white, #fff);
  --color-base-border: var(--color-base-white, #fff);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  @include base-theme-light();
}
html[data-theme="dark"] {
  body {
    @include base-theme-dark();
  }
}

// CSS RESETs - START
h1,
h2,
h4,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
}

// Body reset
html,
body {
  width: auto;
  height: 100%;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  border-color: var(--color-base-border, #000);
  color: var(--color-base-text, #000);
  background-color: var(--color-base-background, #fff);
  text-rendering: optimizeSpeed;
  position: relative;
  &.-userSelectNone * {
    user-select: none;
  }
}

// Reset fonts for relevant elements
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  &:disabled {
    pointer-events: none;
    opacity: 0.75;
  }
}

[role="button"] {
  cursor: pointer;
}

// Links
a {
  color: var(--color-default, #000);
  text-decoration: none;

  &:focus,
  &:hover {
    color: var(--color-link, #a100ff);
  }

  &[aria-disabled="true"] {
    pointer-events: none !important;
    opacity: 0.75;
  }
}

// Figures
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.
figure {
  margin: 0;
}

// Images
img {
  vertical-align: middle;
}
// CSS RESETs - END
