//
// Scaffolding
// --------------------------------------------------
// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing

@mixin base-theme-light {
  --color-default: var(--color-base-black);
  --color-contrast: var(--color-base-white);
  --color-overlay: rgba(0, 0, 0, 0.6);

  --color-base-background: var(--color-base-white, #fff);
  --color-base-text: var(--color-base-black, #000);
  --color-base-border: var(--color-base-black, #000);
}
@mixin base-theme-dark {
  --color-default: var(--color-base-white);
  --color-contrast: var(--color-base-black);
  --color-overlay: rgba(255, 255, 255, 0.6);

  --color-base-background: var(--color-base-black, #000);
  --color-base-text: var(--color-base-white, #fff);
  --color-base-border: var(--color-base-white, #fff);
}

:root {
  --color-base-white: #fff;
  --color-base-black: #000;

  // Ability to provide smooth scroll behavior on supported browsers only.
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  color-scheme: light dark;
  @include base-theme-light();

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    @include base-theme-dark();
  }

  &:has(html[data-theme="dark"]) {
    color-scheme: dark;
    @include base-theme-dark();
  }
}

// CSS RESETs - START
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

h1,
h2,
h4,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
}

// Body reset
html,
body {
  width: auto;
  height: 100%;
}

html {
  // color-scheme: dark light; /* Default dark */
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  border-color: var(--color-base-border, #000);
  color: var(--color-base-text, #000);
  background-color: var(--color-base-background, #fff);
  text-rendering: optimizeSpeed;
  position: relative;
  &.-userSelectNone * {
    user-select: none;
  }
}

button,
[role="button"] {
  cursor: pointer;
  &:disabled,
  &[aria-disabled="true"] {
    pointer-events: none;
    opacity: 0.75;
  }
}

// Links
a {
  color: var(--color-default, #000);
  text-decoration: none;

  &:focus-visible,
  &:hover {
    color: var(--color-link, #a100ff);
  }

  &[aria-disabled="true"] {
    pointer-events: none;
    opacity: 0.75;
  }
}

// Images
img {
  // width: 100%;
  // height: auto;
  vertical-align: middle;
}

/* Media responsive */
// img,
// picture,
// svg,
// video {
//   display: block;
//   max-width: 100%;
// }

// @media (prefers-reduced-motion: no-preference) {
//   :has(:target) {
//     scroll-behavior: smooth;
//     scroll-padding-top: 3rem;
//   }
// }
// CSS RESETs - END
